@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #86EAE9, #4691B7);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 13px #353c6e8e;
    width: 600px;
    padding: 20px;
    margin: auto;
}
h1 {
    color: #353C6E;
    text-align: center;
    text-shadow: 1px 1px 2px #222646a8;
}
h2 {
    
    color: #3C6696;
}
p {
    text-align: justify;
}